body{
  min-height: 900px;
  padding: 0;
}

h2{
  padding: 20px 0;
}

.vertical-offset-100{
    padding-top:100px;
}

.btr{
  position: relative;
  left: 75%;
}

.carousel-inner>.item {
  height: 450px !important;
}

.flexG{
  display: flex;
  justify-content: space-evenly;
}

/* NAV BAR */
.flexNF{
  display: flex;
  gap: 10px;
  padding-top: 6px;
  padding-right: 15px;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0px !important;
}

.navButton{
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.navbar {
    margin-bottom: 0px !important;
}
